@import '../../styles/OrensMixins.scss';

.title {
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.setNewsItemMainContainer {
    font-size: $labelFontSize;
    display: flex;
    flex-direction: column;
    width: $containerWidth;
    min-width: 320px;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 0.4rem;
    background-color: $formBackground;
    transition: all 0.1s;

    @media all and (max-width: $containerWidth) {
        width: 100%;
    }

    label {
        @include labelFont;
        padding-bottom: 0.3rem;
    }

    input {
        @include singleFieldInput;
    }

    select {
        @include singleFieldInput;
    }

    button {
        @include defaultButton;
    }
}

.responsiveContainer {
    width: 100%;
    display: flex;
    padding: 0.25rem;
    gap: 0.5rem;

    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @media all and (max-width: $containerWidth) {
        flex-direction: column;
    }
}

.responsiveContainerFlexCol {
    width: 100%;
    display: flex;
    padding: 0.25rem;
    gap: 0.5rem;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media all and (max-width: $containerWidth) {
        flex-direction: column;
    }
}

.responsiveRow {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0.25rem;

    @media all and (max-width: $containerWidth) {
        width: 100%;
    }
}

.fullWidthResponsiveRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.25rem;
    margin: auto;

    @media all and (max-width: $containerWidth) {
        width: 100%;
    }
}
